<%= form_with(model: drink_category, local: true) do |form| %>
  <% if drink_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drink_category.errors.count, "error") %> prohibited this drink_category from being saved:</h2>

      <ul>
      <% drink_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
