<%= form_with(model: drink, local: true) do |form| %>
  <% if drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :drink_category_id %>
    <%= form.number_field :drink_category_id %>
  </div>

  <div class="field">
    <%= form.label :producer_id %>
    <%= form.number_field :producer_id %>
  </div>

  <div class="field">
    <%= form.label :abv %>
    <%= form.text_field :abv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
