<div
  class="field"
  data-controller="autocomplete"
  data-autocomplete-search-url="<%= search_producers_url %>"
  data-autocomplete-save-key="selectedProducerId"
>
  <div class="control">
    <label class="label is-large">What <%= @category.producer_title %>?</label>
    <input
      class="input is-large"
      name="producer_text"
      placeholder="<%= @category.producer_title %>"
      data-target="autocomplete.input"
      data-action="keyup->autocomplete#search"
      autocomplete="off"
    />
    <input
      type="hidden"
      name="drink[producer_id]"
      data-target="autocomplete.hiddenValue"
    />
  </div>
  <div
    class="dropdown"
    data-target="autocomplete.dropdown"
  >
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="buttons dropdown-item" data-target="autocomplete.content"></div>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <label class="label is-large">What's it called?</label>
    <input
      class="input is-large"
      name="drink[name]"
      placeholder="Drink"
      autocomplete="off"
    /> 
  </div>
</div>
<div
  class="field"
  data-controller="autocomplete"
  data-autocomplete-search-url="<%= search_drink_types_url(category: @category) %>"
  data-autocomplete-save-key="selectedDrinkTypeId"
>
  <div class="control">
    <label class="label is-large">What Type?</label>
    <input
      class="input is-large"
      name="drink_type_text"
      placeholder="Enter Type"
      data-target="autocomplete.input"
      data-action="keyup->autocomplete#search"
      autocomplete="off"
    />
    <input
      type="hidden"
      name="drink[drink_type_id]"
      data-target="autocomplete.hiddenValue"
    />
  </div>
  <div
    class="dropdown"
    data-target="autocomplete.dropdown"
  >
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="buttons dropdown-item" data-target="autocomplete.content"></div>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <label class="label is-large">Know the ABV?</label>
    <input
      class="input is-large"
      name="drink[abv]"
      placeholder="5.0"
      autocomplete="off"
    /> 
  </div>
</div>
<%= show_year_field(@category) %>
<div class="field">
  <div class="control">
  <button class="button is-primary is-large">Save</button>
  </div>
</div>