<%= form_with url: drinks_url do |form| %>

  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this consumed_drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div
    data-controller="drinks"
    data-drinks-url="<%= type_selected_drinks_url %>"
  >
    <div class="field">
    <div class="control">
      <label class="label is-large">What Type of Drink?</label>
      <div class="select is-large">
        <select name="drink[drink_category_id]" data-action="drinks#typeSelected">
          <option>Select Drink Type</option>
          <% @categories.each do |cat| %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    </div>

    <div data-target="drinks.newDrinkContainer">
    </div>
  </div>

  
<% end %>