<p class="title is-1"><%= @drink.name %>
  <span class="tag">
    <%= @drink.drink_type.name %>
  </span>
  <span class="tag">
    <%= @drink.abv %>%
  </span>
</p>
<p class="subtitle is-3 has-text-primary"><%= @drink.producer.name %></p>

<div class="content is-large">
  <%= last_time_drank(@count) %>
</div>