<%= form_with url: url do |form| %>
  <% if @consumed_drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumed_drink.errors.count, "error") %> prohibited this consumed_drink from being saved:</h2>

      <ul>
      <% @consumed_drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div 
    class="dropdown field"
    data-controller="autocomplete"
    data-target="autocomplete.dropdown"
    data-autocomplete-search-url="<%= search_drinks_path %>"
  >
    <div class="control">
      <input
        class="input is-large"
        type="text" 
        placeholder="Search for a drink"
        data-target="autocomplete.input"
        data-action="keyup->autocomplete#search"
        autocomplete="off"
      >
    </div>
    <%= form.hidden_field :drink_id %>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="buttons dropdown-item" data-target="autocomplete.content"></div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :price_paid %>
    <%= form.number_field :price_paid %>
  </div>

  <div class="field">
    <%= form.label :amount_consumed %>
    <%= form.number_field :amount_consumed %>
  </div>

  <div class="field">
    <%= form.label :next_day_condition %>
    <%= form.number_field :next_day_condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
