<%= form_with url: url do |form| %>
  <% if @consumed_drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumed_drink.errors.count, "error") %> prohibited this consumed_drink from being saved:</h2>

      <ul>
      <% @consumed_drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control">
    <div class="select is-large">
      <select>
        <option>Select Drink Type</option>
        <% @categories.each do |cat| %>
          <option><%= cat.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="field">
    <%= form.label :drink_id %>
    <%= form.number_field :drink_id %>
  </div>

  <div class="field">
    <%= form.label :price_paid %>
    <%= form.number_field :price_paid %>
  </div>

  <div class="field">
    <%= form.label :amount_consumed %>
    <%= form.number_field :amount_consumed %>
  </div>

  <div class="field">
    <%= form.label :next_day_condition %>
    <%= form.number_field :next_day_condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
