<%= form_with(model: consumed_drink, local: true) do |form| %>
  <% if consumed_drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consumed_drink.errors.count, "error") %> prohibited this consumed_drink from being saved:</h2>

      <ul>
      <% consumed_drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :drink_id %>
    <%= form.number_field :drink_id %>
  </div>

  <div class="field">
    <%= form.label :price_paid %>
    <%= form.number_field :price_paid %>
  </div>

  <div class="field">
    <%= form.label :amount_consumed %>
    <%= form.number_field :amount_consumed %>
  </div>

  <div class="field">
    <%= form.label :next_day_condition %>
    <%= form.number_field :next_day_condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
