<%= form_with(model: consumed_drink, local: true,
  html: {
    'data-controller': 'consumed-drinks',
    'data-consumed-drinks-purchase-size-url': purchase_sizes_for_select_consumed_drinks_path,
  }) do |form|
%>
  <% if @consumed_drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consumed_drink.errors.count, "error") %> prohibited this consumed_drink from being saved:</h2>

      <ul>
      <% consumed_drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div 
    class="field"
    data-controller="autocomplete"
    data-autocomplete-search-url="<%= search_drinks_path %>"
  >
    <div class="control">
      <input
        class="input is-large"
        type="text" 
        placeholder="Search for a drink"
        data-target="autocomplete.input"
        data-action="keyup->autocomplete#search"
        autocomplete="off"
        value="<%= created_drink_name(drink) %>"
      >
    </div>
    <div
      class="dropdown"
      data-target="autocomplete.dropdown"
    >
      <%= form.hidden_field :drink_id,
        data: {
          target: 'autocomplete.hiddenValue consumed-drinks.selectedDrink',
          action: 'consumed-drinks#drinkSelected'
        },
        value: created_drink_id(drink)
      %>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <div class="buttons dropdown-item" data-target="autocomplete.content"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="<%= drink ? '' : 'is-hidden' %>"
    data-target="consumed-drinks.hiddenForm"
  >
    <div class="field">
      <div class="control">
        <label class="label is-large">Amount Purchased</label>
        <div class="select is-large">
          <select  data-target="consumed-drinks.purchaseSizeSelect">
            <option>Select a Size</option>
            <% @purchase_sizes.each do |size| %>
              <option value="<%= size.id %>"><%= size.name %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.label 'Price Paid (optional)', class: 'label is-large' %>
        <%= form.number_field :price_paid, class: 'input is-large', placeholder: '5.02' %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "Continue", class: 'button is-primary' %>
    </div>
  </div>
<% end %>
