<div
  data-controller="consumed-drinks"
>
  <%= form_with model: @consumed_drink do |form| %>
    <div class="field">
      <label class="label is-large">How did you like <%= @consumed_drink.drink.name %>?</label>
      <div class="control is-expanded">
        <div class="select is-large is-fullwidth">
          <%= form.select :verdict, verdict_choices, {prompt: 'Select One'},
            {'data-action': 'consumed-drinks#optionSelected', 'data-target': 'consumed-drinks.selectField'}
          %>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label is-large">How many <%= amount_question_phrasing(@consumed_drink) %> did you have?</label>
      <div class="control is-expanded">
        <div class="select is-large is-fullwidth">
          <%= form.select :amount_consumed, amount_choices, {prompt: 'How Many?'},
            {'data-action': 'consumed-drinks#optionSelected', 'data-target': 'consumed-drinks.selectField'}
          %>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label is-large">How did you feel the next morning?</label>
      <div class="control is-expanded">
        <div class="select is-large is-fullwidth">
          <%= form.select :next_day_condition, next_day_choices, {prompt: 'Select Condition'},
            {'data-action': 'consumed-drinks#optionSelected', 'data-target': 'consumed-drinks.selectField'}
          %>
        </div>
      </div>
    </div>
    <div class="box" data-target="consumed-drinks.askLaterForm">
      <input value="false" name="asklater" type="hidden" data-target="consumed-drinks.askLater"/>
      <label class="label is-large">We'll ask you in:</label>
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-large is-fullwidth">
            <%= select_tag :ask_later_hours, options_for_select(0..72) %>
          </div>
        </div>
        <p class="control">
          <a class="button is-static is-large">
            Hours
          </a>
        </p>
      </div>
      <label class="label is-large">And</label>
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-large is-fullwidth">
            <%= select_tag :ask_later_minutes, options_for_select(0..59) %>
          </div>
        </div>
        <p class="control">
          <a class="button is-static is-large">
            Minutes
          </a>
        </p>
      </div>
      <div class="field">
        <div class="control">
          <label class="radio">
          <input type="radio" name="notification-method">
            Email
          </label>
          <label class="radio">
          <input type="radio" name="notification-method" checked>
            Text Message
          </label>
        </div>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-large">Done</button>
      </div>
    </div>
  <% end %>
</div>