<h1 class="title">Your Drink History</h1>
<% @consumed_drinks.each do |consumed_drink| %>
  <div class="card consumed-drink-card">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to consumed_drink.drink.name, consumed_drink.drink %> - <%= consumed_drink.created_at.strftime('%b %d %Y') %>
      </p>
    </header>
    <div class="card-content">
      <p><%= consumed_drink.drink.producer.name %></p>
      <p>Your Review: 
        <strong class="has-text-<%= verdict_color(consumed_drink.verdict) %>"><%= ConsumedDrink::VERDICT_NAME[consumed_drink.verdict] %></strong>
      <p>

      <p>You had: <strong><%= amount_string(consumed_drink) %></strong></p>
    </div>

    <footer class="card-footer">
      <%= link_to 'Edit', follow_up_consumed_drink_path(consumed_drink), class: 'card-footer-item' %>
      <%= link_to 'Delete', consumed_drink, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-footer-item' %>
    </footer>
  </div>
<% end %>