<nav class="navbar" role="navigation" aria-label="main navigation" data-controller="application">
  <div class="navbar-brand">
    <%= link_to image_tag("buck-logo"), root_url, class: 'navbar-item' %>
    <h1 class="navbar-item has-text-weight-bold">BoozeHound</h1> 
    <a 
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="application.hamburger"
      data-action="application#toggleMenu"
     >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu", data-target="application.menu">
    <%= render_nav(current_user) %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_url, class: 'button is-primary', method: 'delete' %>
          <% else %>
            <%= link_to new_user_registration_path, class: 'button is-primary' do %>
              <strong>Sign up</strong>
            <% end %>
            <%= link_to 'Log In', new_user_session_url, class: 'button is-light' %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>