<!DOCTYPE html>
<html>
  <head>
    <title>Boozehound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <section class="section">
      <div class="container" data-controller="application">
        <% if notice %>
          <div class="notification is-primary" data-target="application.notice">
            <button class="delete" data-action="click->application#hideNotice"></button>
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="notification is-danger" data-target="application.alert">
            <button class="delete" data-action="click->application#hideAlert"></button>
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
